* {
  box-sizing: border-box;
}
body {
  padding: 10px;
}
.container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;

  padding: 0;
}
nav ul li button {
  border: 1px solid red;
  padding: 10px;
  margin: 5px 5px;
  box-shadow: 1px 1px 5px #333;
  cursor: pointer;
  transition: all 0.3s ease;
}
nav ul li button:hover {
  background: #bdc3c7;
}

.posts {
  border: 1px solid blue;
  width: 70%;
  font-size: 16px;
}
.posts li {
  padding: 10px;
  border-bottom: 1px solid blue;
}
.posts li:last-child {
  border-bottom: none;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
  }
  .posts {
    width: 100%;
  }
}
